<a href="https://colab.research.google.com/github/Ismael636/Proyectos-tareas-/blob/main/Ejercicios%20clase%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#conversiones de variables

a = 3
b = "12"
c = a*b

print('el valor incorrecto es',c)

el valor incorrecto es 121212

In [13]:
#conversiones de variables

y ="2"
print(type(y),y)
s =int(y) #se utiliza la abreviatura de la variable que queremos convertir
#las variables son entero(int), flotante(float), texto(str), booleanos(bool)
print(type(s),s)
x =str(y)
print(type(x),x)

<class 'str'> 2
<class 'int'> 2
<class 'str'> 2

In [16]:
#conversiones de variables

y ="14.36"
print(type(y),y)
s =float(y) #se utiliza la abreviatura de la variable que queremos convertir
#las variables son entero(int), flotante(float), texto(str), booleanos(bool)
print(type(s),s)

<class 'str'> 14.36
<class 'float'> 14.36

In [20]:
Edad =input("Ingresa tu edad: ")
print(type(Edad),"\nTu edad ingresada es: ", Edad)

Ingresa tu edad: 21
<class 'str'>
Tu edad ingresada es:  21

In [21]:
Edad =float(input("Ingresa tu edad: "))
print(type(Edad),"\nTu edad ingresada es: ", Edad)

Ingresa tu edad: 21
<class 'float'>
Tu edad ingresada es:  21.0